@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

/*HomePage Navbar content*/

.Nav link {
  color: white;
}
.Link1,
.Link2,
.Link3,
.Link4 {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 800;
  line-height: 18.29px;
  text-align: left;
  color: #ffffff;
}

.content {
  text-align: center;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  font-size: 24px; /* Adjust font size as needed */
  text-align: center; /* Center text horizontally */
}
.centered-text h4 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 800;
  line-height: 17.07px;
  letter-spacing: 0.15em;
  height: 10px;
  gap: 0px;
  opacity: 0px;
}

.centered-text p {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  width: 1006px;
  height: 154px;
  gap: 0px;
  opacity: 0px;
}

.LinkButton {
  width: 207px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ff3c00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spanButton {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #ffffff;
}

/*Homepage2*/
.HomeParagraph1 pre {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
  gap: 0px;
  opacity: 0px;
}
.HomeParagraph1 p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #363636;
  width: 648px;
  height: 109px;
  gap: 0px;
  opacity: 0px;
}

.HomeParagraph1 h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  width: 432px;
  height: 83px;
  gap: 0px;
  opacity: 0px;
}
.Home-Span {
  color: #ff3c00;
}
.home {
  padding-left: 200px;
  padding-right: 150px;
}
/*Service page*/
.Service .p1 {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: center;
  color: #ff3c00;
}
.Service .p2 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #363636;
  width: 913px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
}

.Service h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.Service-img {
  width: 350px;
  height: 219px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}
.Service {
  justify-content: center;
}
.Img-text {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ff3c00;
}
.LinkButton1 {
  width: 207px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ff3c00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.Service .p3 {
  color: #161616;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
}
.Service .p4 {
  color: #161616;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
}
@media only screen and (min-width: 360px) and (max-width: 992px) {
  /*HomePage Navbar content*/
  .centered-text h4 {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 800;
    line-height: 17.07px;
    letter-spacing: 0.15em;
    width: 398px !important;
    text-align: center;
    height: 10px;
    gap: 0px;
    opacity: 0px;
  }
  .centered-text p {
    font-family: "Montserrat";
    font-size: 30px !important;
    font-weight: 800;
    line-height: 54px;
    text-align: center;
    width: 380px !important;
    height: 100px;
    gap: 0px;
    opacity: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .LinkButton {
    margin-top: 30% !important;
  }
  /*Homepage2*/
  .HomeParagraph1 h4 {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    width: 432px;
    height: 83px;
    gap: 0px;
    opacity: 0px;
  }
  .HomeParagraph1 p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #363636;
    width: 365px;
    height: 109px;
    gap: 0px;
    opacity: 0px;
  }
  .home {
    padding-left: 0;
    padding-right: 0;
  }
  .image-class {
    display: none; /* Hide the image */
  }

  /*Service page*/
  .Service .p1 {
    margin-top: 10px !important;
    font-family: "Montserrat";
    font-size: 15px !important;
    font-weight: 700 !important;
    letter-spacing: 0.15em;
    text-align: left;
    color: #ff3c00;
    width: 357px;

    gap: 0px;
    opacity: 0px;
    margin-top: 50px;
  }
  .LinkButton1 {
    width: 207px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ff3c00;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }
  .b1 {
    margin-left: 50px;
  }
  .Service .p2 {
    font-family: "Montserrat";
    font-size: 17px !important;
    font-weight: 400;
    line-height: 22px !important;
    text-align: left;
    color: #363636;
    width: 340px !important;
    height: 70px;
    gap: 0px;
    opacity: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1px !important;
  }
  .Service h4 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
  }
  .Service-img {
    margin-top: 20px;
  }
  .Service .p4 {
    color: #161616;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }
  /*Project page*/
  .Project h4 {
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #161616;
    width: 600px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
  }

  .Project p {
    font-family: "Montserrat";
    font-size: 19px !important;
    font-weight: 400;
    line-height: 32px !important;
    text-align: left !important;
    width: 350px !important;
    height: 141px;
    gap: 0px;
    opacity: 0px;
    color: #363636;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .Project {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .Project pre {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700 !important;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: left;
    color: #ff3c00;
  }
  .Project {
    flex-direction: column-reverse !important; /* Reverse the order of items */
  }
  /* Experience page */
  .Exp-header h4 {
    font-family: "Montserrat";
    font-size: 20px !important;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    width: 600px;
    height: 25px;
    gap: 0px;
    opacity: 0px;
    padding: 10px;
  }
  .Exp-header p {
    font-family: "Montserrat";
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 32px;
    text-align: left;
    width: 350px !important;
    height: 173px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
    padding: 10px;
  }

  .LinkButton2 {
    margin-top: 190px !important;
    width: 265px;
    margin-top: 170px !important;
    padding: 19px !important;
    gap: 10px;
    border-radius: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
  }

  /* Testiomonial page */

  .Service h4 {
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 800;
    line-height: 50px;
    text-align: left !important;
    width: 357px;
    height: 74px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
  }
  .p6 {
    margin-top: 140px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    text-align: center !important;
  }

  .carousel-item {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 0px;
    opacity: 0px;
  }
  .carousel-caption {
    text-align: center !important;
    width: 267px !important;
    height: 160px !important; /* Set the desired height */
    line-height: 20px;
    margin-top: 30px !important;
  }
  .carousel {
    height: 200px;
  }
  .LinkButton3 {
    margin-top: 10px !important;
    width: 265px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left !important;
  }
  /*Kowledge page*/
  .known h4 {
    font-family: "Montserrat";
    font-size: 30px !important;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #161616;
    width: 340px !important;
  }
  .known p {
    font-family: "Montserrat";
    font-size: 17\px !important;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 370px !important;
    height: 77px;
    color: #363636;
  }
  .known {
    margin-bottom: 120px !important;
  }
  .knownCol {
    font-family: "Montserrat";
    font-size: 16px !important;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000000;
    width: 345px !important;
    height: 39px;
    gap: 0px;
    opacity: 0px;
  }
  .LinkButton8 {
    width: 207px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ff3c00;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left !important;
  }
  /*join page*/
  .join h4 {
    font-family: "Montserrat";
    font-size: 23px !important;
    font-weight: 700;
    text-align: left !important;
    width: 300px !important;
    margin-top: 40px !important;
    gap: 0px;
    opacity: 0px;
  }
  .join p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left !important;
    width: 357px !important;
    height: 42px;
    gap: 0px;
    opacity: 0px;
  }
  .LinkButton6 {
    width: 265px !important;
    padding: 5px 5px 10px 10px;
    gap: 10px;
    border-radius: 50px;
    opacity: 0px;
    background: #ff3c00;
    float: left !important;
    margin-top: 170px !important;
  }
}

/*Featured page*/
.feat-P {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 100%; /* Ensure logos fill their respective columns */
  max-width: 100px; /* Limit the maximum width of logos */
  margin: 10px; /* Adjust margin as needed */
}

/*Project page*/
.Project pre {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
}

.Project h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #161616;
  width: 650px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
}

.Project p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 481px;
  height: 141px;
  gap: 0px;
  opacity: 0px;
  color: #363636;
}
.Project {
  flex-direction: column;
  padding-left: 200px;
  padding-right: 150px;
}
.image-project {
  order: 1; /* Default order for the image */
}

.Button-project {
  order: 2; /* Default order for the button */
}

/* Experience page */
.LinkButton2 {
  width: 265px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spanButton1 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: #ff3c00;
}

.Exp-header h4 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 800;
  line-height: 28px;
  text-align: left;
  width: 612px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
}

.Exp-header p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  width: 753px;
  height: 173px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

/* Testimonial page*/
.Service h4 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  margin-top: 130px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

.Service .p6 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
}

.centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 40%; /* Ensure the image doesn't exceed the container height */
}
.LinkButton3 {
  width: 265px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-caption {
  color: white; /* Text color */
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the desired height */
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  fill: #ff0000; /* Set the desired color */
}

/*Knownledge page*/
.known {
  margin-bottom: 40px;
}
.known h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #161616;
  width: 540px;
}
.known p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 863px;
  height: 77px;
  color: #363636;
}

.LinkButton8 {
  width: 207px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ff3c00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.known span {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}
.knownCol {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
  width: 540px;
  height: 39px;
  gap: 0px;
  opacity: 0px;
}

/*join page*/
.join h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-top: 150px;
}
.join p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.join span {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.LinkButton6 {
  width: 265px;
  padding: 5px 5px 10px 10px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  background: #ff3c00;
  text-align: center;
}
.centered-row {
  margin-left: auto;
  margin-right: auto;
  width: 913px;
  height: 313px;
  gap: 69px;
  opacity: 0px;
}

/*footer page*/
.centered-row2 {
  margin-left: auto;
  margin-right: auto;
  width: 1353px;
  padding: 80px;
}

.footer .p1 {
  width: 513px;
  height: 123px;
  top: 184px;
  left: 198px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}
