@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

/*HomePage Navbar content*/
.AboutPage {
  color: #000000;
}
.topleft {
  color: #000000;
}

.Link {
  outline: none;
  text-decoration: none;
}
.Link:active {
  color: #ff3c00;
}
.nav-link:hover .Link {
  color: #ff0000;
}
.nav-link .Link {
  color: #000000;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: left;
}

.content {
  text-align: center;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  font-size: 24px; /* Adjust font size as needed */
  text-align: center; /* Center text horizontally */
}
.centered-text h4 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 800;
  line-height: 17.07px;
  letter-spacing: 0.15em;
  height: 10px;
  gap: 0px;
  opacity: 0px;
}

.centered-text p {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  width: 1006px;
  height: 154px;
  gap: 0px;
}

.LinkButton {
  width: 207px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ff3c00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spanButton {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #ffffff;
}

/*Homepage2*/
.HomeParagraph1 pre {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
  gap: 0px;
}
.HomeParagraph1 p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #363636;
  width: 648px;
  height: 109px;
  gap: 0px;
}

.HomeParagraph1 h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  width: 432px;
  height: 83px;
  gap: 0px;
}
.Home-Span {
  color: #ff3c00;
}
.home {
  padding-left: 200px;
  padding-right: 150px;
}
/*Service page*/
.Service .p1 {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: center;
  color: #ff3c00;
}

.Service .p7 {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: center;
  color: #ff3c00;
  margin-bottom: -130px;
}

.Service .p2 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #363636;
  width: 913px;
  /* height: 45px; */
  gap: 0px;
}

.Service h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.Service-img {
  width: 350px;
  height: 219px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
}
.Service {
  justify-content: center;
}
.Img-text {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ff3c00;
}
.LinkButton1 {
  width: 207px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ff3c00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.Service .p3 {
  color: #161616;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
}
.Service .p4 {
  color: #161616;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 95px;
  text-align: center;
}
@media only screen and (min-width: 360px) and (max-width: 992px) {
  /*HomePage Navbar content*/
  .centered-text h4 {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 800;
    line-height: 17.07px;
    letter-spacing: 0.15em;
    width: 398px !important;
    text-align: center;
    height: 10px;
    gap: 0px;
  }
  .centered-text p {
    font-family: "Montserrat";
    font-size: 30px !important;
    font-weight: 800;
    line-height: 54px;
    text-align: center;
    width: 380px !important;
    height: 100px;
    gap: 0px;

    margin-left: auto;
    margin-right: auto;
  }

  .LinkButton {
    margin-top: 30% !important;
  }
  /*Homepage2*/
  .HomeParagraph1 h4 {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    width: 432px;
    height: 83px;
    gap: 0px;
  }
  .HomeParagraph1 p {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #363636;
    width: 365px;
    height: 109px;
    gap: 0px;
  }
  .home {
    padding-left: 0;
    padding-right: 0;
  }
  .image-class {
    display: none; /* Hide the image */
  }

  /*Service page*/
  .Service .p1 {
    margin-top: 10px !important;
    font-family: "Montserrat";
    font-size: 15px !important;
    font-weight: 700 !important;
    letter-spacing: 0.15em;
    text-align: left;
    color: #ff3c00;
    width: 357px;

    gap: 0px;

    margin-top: 50px;
  }
  .LinkButton1 {
    width: 207px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ff3c00;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }
  .b1 {
    margin-left: 50px;
  }
  .Service .p2 {
    font-family: "Montserrat";
    font-size: 17px !important;
    font-weight: 400;
    line-height: 22px !important;
    text-align: left;
    color: #363636;
    width: 340px !important;
    height: 70px;
    gap: 0px;

    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1px !important;
  }
  .Service h4 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
  }
  .Service-img {
    margin-top: 20px;
  }
  .Service .p4 {
    color: #161616;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }
  /*Project page*/
  .Project h4 {
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #161616;
    width: 600px;
    height: 28px;
    gap: 0px;
  }

  .Project p {
    font-family: "Montserrat";
    font-size: 19px !important;
    font-weight: 400;
    line-height: 32px !important;
    text-align: left !important;
    width: 350px !important;
    height: 141px;
    gap: 0px;

    color: #363636;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .Project {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .Project pre {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700 !important;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-align: left;
    color: #ff3c00;
  }
  .Project {
    flex-direction: column-reverse !important; /* Reverse the order of items */
  }
  /* Experience page */
  .Exp-header h4 {
    font-family: "Montserrat";
    font-size: 20px !important;
    font-weight: 800;
    line-height: 28px;
    text-align: left;
    width: 600px;
    height: 25px;
    gap: 0px;

    padding: 10px;
  }
  .Exp-header p {
    font-family: "Montserrat";
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 32px;
    text-align: left;
    width: 350px !important;
    height: 173px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
    padding: 10px;
  }

  .LinkButton2 {
    margin-top: 190px !important;
    width: 265px;
    margin-top: 170px !important;
    padding: 19px !important;
    gap: 10px;
    border-radius: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
  }

  /* Testiomonial page */

  .Service h4 {
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 800;
    line-height: 50px;
    text-align: left !important;
    width: 357px;
    height: 74px;
    gap: 0px;
    opacity: 0px;
    color: #ffffff;
  }
  .p6 {
    margin-top: 140px !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    text-align: center !important;
  }

  .carousel-item {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 0px;
    opacity: 0px;
  }
  .carousel-caption {
    text-align: center !important;
    width: 267px !important;
    height: 160px !important; /* Set the desired height */
    line-height: 20px;
    margin-top: 30px !important;
  }
  .carousel {
    height: 200px;
  }
  .LinkButton3 {
    margin-top: 10px !important;
    width: 265px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left !important;
  }
  /*Kowledge page*/
  .known h4 {
    font-family: "Montserrat";
    font-size: 30px !important;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #161616;
    width: 340px !important;
  }
  .known p {
    font-family: "Montserrat";
    font-size: 17\px !important;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 370px !important;
    height: 77px;
    color: #363636;
  }
  .known {
    margin-bottom: 120px !important;
  }
  .knownCol {
    font-family: "Montserrat";
    font-size: 16px !important;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000000;
    width: 345px !important;
    height: 39px;
    gap: 0px;
    opacity: 0px;
  }
  .LinkButton8 {
    width: 207px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ff3c00;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left !important;
  }
  /*join page*/
  .join h4 {
    font-family: "Montserrat";
    font-size: 23px !important;
    font-weight: 700;
    text-align: left !important;
    width: 300px !important;
    margin-top: 40px !important;
    gap: 0px;
    opacity: 0px;
  }
  .join p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left !important;
    width: 357px !important;
    height: 42px;
    gap: 0px;
    opacity: 0px;
  }
  .LinkButton6 {
    width: 265px !important;
    padding: 5px 5px 10px 10px;
    gap: 10px;
    border-radius: 50px;
    opacity: 0px;
    background: #ff3c00;
    float: left !important;
    margin-top: 170px !important;
  }
  /*footer page*/
  .footer .p1 {
    width: 300px !important;
    height: 23px;
    top: 184px;
    left: 198px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #ffffff;
    margin-top: 20px !important;
  }
  .footer .p2 {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #ffffff;
    width: 300px !important;
    top: 184px;
    margin-top: 30px;
    padding: 0 !important;
  }

  .footer .pic {
    margin-top: 220px !important;
  }
  .centered-row2 {
    margin-left: auto;
    margin-right: auto;
    width: 1353px;
    padding: 0 !important;
  }
  .topIcon {
    position: relative;
    top: -34px !important;
    left: 270px !important;
    font-size: 13px;
    background: #ff3c00;
    border-radius: 50px;
    width: 59px !important ;
    height: 53px !important;
    gap: 0px;
    opacity: 0px;
  }

  /*ABoutus page*/

  .About-us h4 {
    font-family: "Montserrat";
    font-size: 16px !important;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.15em;
    text-align: center !important;
    color: #ff3c00;
    width: 110px !important;
    gap: 0px;
    opacity: 0px;
    margin-top: 20px;
  }
  .About-us p {
    font-family: "Montserrat";
    font-size: 19px !important;
    font-weight: 600;
    line-height: 46px !important;
    text-align: left;
    color: #000000;
    margin-top: 1px !important;
    width: 357px !important;
  }

  .line {
    margin-top: 0;
    position: absolute;
    width: 25% !important;
    height: 4px;
    background-color: #ff3c00;
  }
  .About-us {
    width: 400px !important;
    left: 5px !important;
    font-size: 42px !important;
    gap: 44px;
    opacity: 0px;
    position: relative;
    margin-bottom: 270px;
  }

  .mission {
    width: 100%;
    height: 272px;
    top: 86px;
    left: 118px;
    padding-top: 10px !important;
    margin-top: 480px !important;
  }
  .mission2 {
    width: 100%;
    height: 504px !important;
    top: 453px;
    left: 118px;
    margin-top: 430px !important;
  }
  .mission h4 {
    width: 650px !important;
    height: 45px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #ffffff;
  }
  .mission2 h4 {
    width: 650px;
    height: 45px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: #ffffff;
  }
  .mission p {
    width: 330px !important;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 15px !important;
    font-weight: 500;
    line-height: 32px;
    text-align: left !important;
    color: #ffffff;
  }
  .mission2 p {
    width: 330px !important;
    height: 205px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 15px !important;
    font-weight: 500;
    line-height: 32px;
    color: #ffffff;
  }

  .About-pic {
    width: 497px;
    height: 250px !important;
    top: -234%;
    left: 1419px;
    gap: 0px;
    opacity: 0px;
  }
  .About-pic {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .About-pic img {
    max-width: 100%;
    margin-top: 0 !important; /* Adjust margin-top for downward movement */
    margin-left: 0 !important;
  }
  .para h4 {
    color: #000000;
    font-family: "Montserrat";
    font-size: 20px !important;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    width: 357px !important;
  }
  .About-us {
    width: 996px;
    height: 153px !important;
    top: 73px;
    left: 120px;
    gap: 44px;
    opacity: 0px;
    position: relative;
    margin-bottom: 270px;
  }

  /*Servic page*/
  .Servic {
    flex-direction: column !important; /* Stack columns vertically */
  }
  .Servic1 {
    padding: 20px !important; /* Add padding to the left and right */
    min-height: 100vh !important;
  }

  .Servic2 {
    padding: 20px !important; /* Add padding to the left and right */
    padding: 20px !important; /* Add padding to the left and right */
  }

  .Servic2 img {
    margin-top: 20px !important; /* Increase margin-top for spacing */
  }

  .Servic1 p {
    width: 297px !important;
    height: 269px;
    top: 173px;
    left: 120px;
    gap: 44px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 20px !important;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
  }
  .LinkButton4 {
    width: 207px;
    height: 52px;
    padding: 10px;
    gap: 10px;
    border-radius: 50px;
    background: #ff3c00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px !important;
  }
  .sett::after {
    content: "";
    position: absolute;
    bottom: -100px !important;
    left: 0;
    width: 100%;
    height: 400px;
    background: transparent !important;
    clip-path: polygon(0) !important;
  }
  .Servic2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Servic2 img {
    max-width: 100%;
    margin-top: -290px !important; /* Adjust margin-top for downward movement */
    margin-right: 15px !important;
  }
  .parag h4 {
    padding-top: 25px;
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 700;
    line-height: 42.67px;
    text-align: left;
    color: #000000;
    margin-top: 20px !important;
  }
  .paragh {
    width: 630px;
    height: 45px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #363636;
    margin-top: 150px !important;
  }
  .paragh h4 {
    width: 484px !important;
    height: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 25px !important;
    font-weight: 700;
    line-height: 42.67px;
    text-align: left;
    color: #000000;
    padding-top: 25px;
    margin-top: 420px !important;
  }

  .parag-pic img {
    margin-top: 4px !important; /* Adjust margin-top for downward movement */
  }
  .parag-pic2 img {
    margin-top: 150px !important; /* Adjust margin-top for downward movement */
  }
  .parag img {
    margin-top: 330px !important; /* Adjust margin-top for downward movement */
  }
  .parag1 h4 {
    padding-top: 10px !important;
    font-family: "Montserrat";
    font-size: 27px !important;
    font-weight: 700;
    line-height: 42.67px;
    text-align: left;
    width: 380px !important;
    height: 68px;
    gap: 0px;
    opacity: 0px;
    margin-top: 520px !important;
    color: #000000;
  }
  .cent {
    margin-top: 890px !important;
    min-height: 500vh !important;
  }
  .cent1 {
    padding-top: 80px !important;
  }
  .cent::after {
    content: "";
    position: absolute;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 400px;
    background: none !important;
    /* clip-path: polygon(100% 80%, 990% 119%, -78% 32%) !important; */
  }
  .cent1::after {
    content: "";
    position: absolute;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 400px;
    background: none !important;
    /* clip-path: polygon(100% 49%, -290% -43%, 100% -100%); */
  }
  .pag5 h4,
  .pag3 h4,
  .pag4 h4 {
    font-size: 22px !important;
  }
  .pag2 h4 {
    width: 509px !important;
    height: 25px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 22px !important;
    font-weight: 700;
    line-height: 42.67px;
    text-align: left;
    color: #ffffff;
    padding-top: 30px;
    margin-top: 45px;
  }
  .pag2 img {
    margin-top: 290px;
  }
  .pag4 img {
    margin-top: 290px;
  }
  .pag6 {
    margin-top: 250px;
  }
  .pag7 {
    margin-top: 100px;
  }

  /*MainAbout page*/
  .MainAbout p {
    width: 1104px;
    height: 429px;
    top: 674px;
    left: 204px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #363636;
  }
  .MainAbout h5 {
    width: 353px !important;
    height: 45px;
    top: 595px;
    left: 204px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 18px !important;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #363636;
    margin-top: -90px !important;
  }
  .MainAbout p {
    margin-top: 90px !important;
    width: 323px !important;
  }
  .MainAbout {
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 1104px;
    height: 429px;
    top: 674px;
    left: 204px;
    gap: 0px;
    opacity: 0px;
  }

  .MinAbout {
    margin-top: 70px;
    width: 357px !important;
    height: 429px;
    top: 1734px;
    left: 204px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #363636;
    margin-top: 370px !important;
  }
  .MinAbout h5 {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
  }
  .m1 {
    margin-left: 0 !important;
  }

  .MainButton .spanButton {
    width: 35px;
    height: 10px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .videoPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 5px;
    width: 340px !important;
    height: 393px;
    top: 1180px;
    left: 204px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    margin-top: 710px !important;
    opacity: 0px;
  }
  .minAb {
    margin-left: 0px !important;
    margin-top: 1130px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .minAb img {
    width: 356px !important;
    height: 318px;
    top: 2716px;
    left: 19px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    padding-top: 20px;
  }

  /*Blog page*/
  .Blog p {
    width: 340px !important;
    height: 200px;
    top: 121px;
    left: 19px;
    gap: 25px;
    opacity: 0px;
  }
  .Blog-Tab {
    margin-top: 140px !important;
  }

  .form-box {
    width: 400px !important;
    max-width: 100%;
    position: relative;
    padding-top: 30px;
    margin-left: -20px !important;
    margin-right: auto !;
  }

  .form-box input {
    font-size: 18px;
    color: #8f8f8f;
    padding: 15px 10px;
    border-radius: 50px;
    outline: none;
    background: #ffff;
    width: 100%;
    border: 1px solid #8f8f8f;
    opacity: 0px;
    height: 50px;
  }

  .form-box button {
    margin-top: 20px !important;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background: #ff0000;
    cursor: pointer;
    position: relative !important;
    left: 0 !important;
    width: 100% !important;
    height: 50px;
    left: 272px;
    padding: 0px 43px 0px 44px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }

  /*BlogD page*/
  .BlogD1 h4 {
    font-family: "Montserrat";
    font-size: 20px !important;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    width: 357px !important;
    height: 52px;
    gap: 0px;
    opacity: 0px;
    color: #000000;
  }
  .BlogD1 p {
    font-family: "Montserrat";
    font-size: 17px !important;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #363636;
    width: 330px !important;
    height: 141px;
    gap: 0px;
    opacity: 0px;
    margin-top: 50px !important;
  }

  .BlogD2 {
    width: 457px;
    height: 326px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    margin-bottom: 40px;
  }
  .Blog-D {
    margin-top: 100px;
    width: 357px !important;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #363636;
  }

  .Blog-D4 {
    width: 681px;
    height: 1200px !important;
    top: 1141px;
    left: 627px;
    gap: 0px;
    opacity: 0px;
    margin-top: -250px !important;
  }
  .Blog-D3 img {
    margin-left: -10px !important;
    width: 357px;
    height: 336px;
    top: 1636px;
    left: 18px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
  }
  /*Contact page*/
  .Contact-p {
    width: 340px !important;
    height: 116px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    margin-top: 20px;
    color: #ffffff;
  }
  .Contact-Address {
    margin-top: 100px !important;
  }
  .Contact-B {
    min-height: 170vh !important;
  }

  .Contact {
    padding-top: 100px;
  }
  .Contact-form {
    background: #fff !important;
    width: 357px !important;
    height: 400px !important;
    top: 103px;
    left: 809px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    margin-top: 100px !important;
  }

  .contact-form {
    padding-top: 10px !important;
    width: 310px !important;
    height: 70px !important;
    top: 55px;
    left: 38px;
    gap: 12px;
    opacity: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .Contact-Button {
    width: 300px !important;
  }
}

/*Featured page*/
.feat-P {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 100%; /* Ensure logos fill their respective columns */
  max-width: 100px; /* Limit the maximum width of logos */
  margin: 10px; /* Adjust margin as needed */
}

/*Project page*/
.Project pre {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
}

.Project h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #161616;
  width: 650px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
}

.Project p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 481px;
  height: 141px;
  gap: 0px;
  opacity: 0px;
  color: #363636;
}
.Project {
  flex-direction: column;
  padding-left: 200px;
  padding-right: 150px;
}
.image-project {
  order: 1; /* Default order for the image */
}

.Button-project {
  order: 2; /* Default order for the button */
}

/* Experience page */
.LinkButton2 {
  width: 265px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spanButton1 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  color: #ff3c00;
}

.Exp-header h4 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 800;
  line-height: 28px;
  text-align: left;
  width: 612px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
}

.Exp-header p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  width: 753px;
  height: 173px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

/* Testimonial page*/
.Service h4 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
  margin-top: 130px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
}

.Service .p6 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
}

.centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 40%; /* Ensure the image doesn't exceed the container height */
}
.LinkButton3 {
  width: 265px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-caption {
  color: white; /* Text color */
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the desired height */
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  fill: #ff0000; /* Set the desired color */
}

/*Knownledge page*/
.known {
  margin-bottom: 40px;
}
.known h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #161616;
  width: 540px;
}
.known p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 863px;
  height: 77px;
  color: #363636;
}

.LinkButton8 {
  width: 207px;
  height: 52px;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #ff3c00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.known span {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}
.knownCol {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #000000;
  width: 540px;
  height: 39px;
  gap: 0px;
  opacity: 0px;
}

/*join page*/
.join h4 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin-top: 150px;
}
.join p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}
.join span {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.LinkButton6 {
  width: 265px;
  padding: 5px 5px 10px 10px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  background: #ff3c00;
  text-align: center;
}
.centered-row {
  margin-left: auto;
  margin-right: auto;
  width: 913px;
  height: 313px;
  gap: 69px;
  opacity: 0px;
}

/*footer page*/
.centered-row2 {
  margin-left: auto;
  margin-right: auto;
  width: 1353px;
  padding: 20px;
}

.footer .p1 {
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}
.footer .p2 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  width: 376px;
  padding-top: 100px;
}
.footer-content {
  text-align: center;
}

.footer-content .copyright {
  margin-right: 20px; /* Adjust the margin as needed */
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  line-height: 10px;
  color: #ffffff;
}
.topIcon {
  position: relative;
  top: -24px;
  left: 1856px;

  background: #ff3c00;
  border-radius: 50px;
  width: 59px;
  height: 59px;
  left: 1333px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
}

.Icontop {
  width: 32.85px;
  height: 32.85px;
  top: 88.74px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  font-size: 13px;
}
.FooterLine {
  color: #ffffff;
}
/*ABoutus page*/
.About-us h4 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
  width: 110px;
  height: 11px;
  gap: 0px;
  opacity: 0px;
  margin-top: 20px;
}
.About-us p {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
  text-align: left;
  color: #000000;
  margin-top: 10px;
}

.About-us {
  width: 996px;
  height: 193px;
  top: 73px;
  left: 120px;
  gap: 44px;
  opacity: 0px;
  position: relative;
  margin-bottom: 270px;
}

.line {
  margin-top: 0;
  position: absolute;
  width: 10%;
  height: 4px;
  background-color: #ff3c00;
}

.para {
  width: 647px;
  height: 416px;
  gap: 40px;
  opacity: 0px;
}

.para p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}

.para h4 {
  color: #000000;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}

.mission {
  width: 100%;
  height: 272px;
  top: 86px;
  left: 118px;
  padding-top: 100px;
}
.mission2 {
  width: 100%;
  height: 304px;
  top: 453px;
  left: 118px;
  margin-top: 200px;
}
.M-span2 {
  width: 66px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;

  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
}
.M-span {
  width: 83px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
}
.mission h4 {
  width: 650px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #ffffff;
}
.mission2 h4 {
  width: 650px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  color: #ffffff;
}
.mission p {
  width: 769px;

  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.mission2 p {
  width: 769px;
  height: 205px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
}

.About-pic {
  width: 497px;
  height: 464px;
  top: -234%;
  left: 1419px;
  gap: 0px;
  opacity: 0px;
}
.About-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.About-pic img {
  max-width: 100%;
  margin-top: 320px; /* Adjust margin-top for downward movement */
  margin-left: 300px;
}
/*Servic page*/
.Servic {
  position: relative;
}
.Servic1 {
  padding: 50px;
}
.Servic2 {
  padding: 15px;
}
.Servic2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Servic2 img {
  max-width: 100%;
  margin-top: 10px; /* Adjust margin-top for downward movement */
  margin-right: 250px;
}
.Servic1 p {
  width: 724px;
  height: 263px;
  top: 173px;
  left: 120px;
  gap: 44px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
.Servic h4 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.15em;
  text-align: left;
  width: 168px;
  height: 11px;
  gap: 0px;
  opacity: 0px;
  color: #ff3c00;
  margin-top: 50px;
}
.LinkButton4 {
  width: 207px;
  padding: 5px 5px 10px 10px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  background: #ffffff;
  text-align: center;
}
.LinkButton4 .spanButton {
  color: #ff3c00;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  width: 90px;
  height: 11px;
  gap: 0px;
  opacity: 0px;
}

.line2 {
  margin-top: 20px;
  position: absolute;
  width: 7%;
  height: 4px;
  background-color: #ff3c00;
}

.sett::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: #ffffff;
  clip-path: polygon(100% 30%, -10% 60%, 100% 100%);
}
.cent::after {
  content: "";
  position: absolute;
  top: 1705px;
  left: 0;
  width: 100%;
  height: 400px;
  background: white;
  clip-path: polygon(100% 90%, 100% 40%, -100% 20%);
}
.cent1::after {
  content: "";
  position: absolute;
  top: 3750px;
  left: 0;
  width: 100%;
  height: 400px;
  background: #161616;
  clip-path: polygon(100% 49%, -290% -43%, 100% -100%);
}

.Contain2 {
  margin-top: 105px;
}
.parag {
  width: 588px;
  height: 252px;
  gap: 40px;
  opacity: 0px;
}

.parag {
  width: 630px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}
.parag1 {
  width: 630px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}
.parag1 h4 {
  padding-top: 20px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  width: 588px;
  height: 68px;
  gap: 0px;
  opacity: 0px;
}
.parag h4 {
  padding-top: 25px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #000000;
}
.paraghe h4 {
  padding-top: 12px;
  width: 333px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
}
.paraghe {
  width: 588px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.paragh h4 {
  width: 484px !important;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #000000;
  padding-top: 25px;
}

.paraghe h5 {
  width: 509px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
  padding-top: 25px;
}

.paragh {
  width: 630px;
  height: 45px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}
.parag li::marker {
  color: red; /* Change the color of the bullet point */
}
.parag1 li::marker {
  color: red; /* Change the color of the bullet point */
}
.paragh li::marker {
  color: red; /* Change the color of the bullet point */
}
.paraghe li::marker {
  color: red; /* Change the color of the bullet point */
  font-size: 25px;
}
.paraghe-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paraghe-pic img {
  max-width: 100%;
  margin-top: 20px; /* Adjust margin-top for downward movement */
  margin-right: 100px;
}
.sen {
  padding-top: 120px;
}

.pag1,
.pag2,
.pag3,
.pag4 {
  width: 588px;
  height: 220px;
  gap: 40px;
  opacity: 0px;
}
.pag1 h4 {
  width: 588px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
  padding-top: 20px;
}
.pag2 h4 {
  width: 509px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
  padding-top: 30px;
}
.pag3 h4 {
  width: 588px;
  height: 25px;
  gap: 0px;
  opacity: 0px;

  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
  padding-top: 10px;
}
.pag4 h4 {
  width: 588px;
  height: 25px;
  gap: 0px;
  opacity: 0px;

  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
  padding-top: 20px;
}
.pag5 h4 {
  width: 333px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42.67px;
  text-align: left;
  color: #ffffff;
  padding-top: 15px;
}

.pag1,
.pag2,
.pag3,
.pag4,
.pag5 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  width: 630px;
  gap: 0px;
  opacity: 0px;
}
.pag1 li::marker,
.pag2 li::marker,
.pag3 li::marker,
.pag4 li::marker,
.pag5 li::marker {
  color: red; /* Change the color of the bullet point */
  font-size: 25px;
}

/*ProjectMain page*/
.linkButton {
  width: 267px;
  padding: 5px 5px 10px 10px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  text-align: center;
  border: 2px solid #ff3c00;
}
.linkButton .spanButton {
  color: #ff3c00;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  width: 206px;
  height: 11px;
  gap: 0px;
  opacity: 0px;
}
.linkButton1 .spanButton {
  width: 84px;
  height: 11px;
  gap: 0px;
  opacity: 0px;
  color: #ffb199;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  text-align: left;
}
.ProjectMain h4 {
  width: 650px;
  height: 25px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ffffff;
}
.ProjectMain span {
  width: 106px;
  height: 10px;
  gap: 0px;
  opacity: 0px;
  color: #ff3c00;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.15em;
  text-align: left;
}
.ProjectMain {
  width: 752px;
  height: 176px;
  top: 882px;
  left: 204px;
  gap: 40px;
  opacity: 0px;
}
.ProjectMain p {
  width: 752px;
  height: 77px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
.projectMain {
  background: #161616;
  min-width: 100vh;
}
.card {
  width: 348px;
  gap: 20px;
  opacity: 0px;
}
.pM {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pM span {
  width: 106px;
  height: 10px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.15em;
  text-align: center;
  color: #ff3c00;
}

.pM h4 {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  color: #161616;
}

.pM {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #363636;
}
.boc1 {
  width: 318px;
  height: 331px;
  top: 360px;
  left: 664px;
  gap: 0px;
  opacity: 0px;
}

/*MainABout Page*/
.MainAbout p {
  width: 1104px;
  height: 429px;
  top: 674px;
  left: 204px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}
.MainAbout h5 {
  width: 1104px;
  height: 45px;
  top: 595px;
  left: 204px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #363636;
}

.MainAbout {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  width: 1104px;
  height: 429px;
  top: 674px;
  left: 204px;
  gap: 0px;
  opacity: 0px;
}

.MinAbout {
  margin-top: 70px;
  width: 1104px;
  height: 429px;
  top: 1734px;
  left: 204px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}
.MinAbout h5 {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.m1 {
  margin-left: 130px;
}

.MainButton .spanButton {
  width: 35px;
  height: 10px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.videoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
  width: 1104px;
  height: 393px;
  top: 1180px;
  left: 204px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}
.minAb {
  margin-left: 87px;
  margin-top: 70px;
}
/*Blog Page*/
.Blog h4 {
  width: 110px;
  height: 19px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
}
.Blog p {
  width: 702px;
  height: 74px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #000000;
}
.line1 {
  margin-top: 0;
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #ff3c00;
}
.Blog {
  gap: 104px;
  padding-top: 100px;
}
.Blog-blog {
  width: 732px;
  height: 74px;
  top: 173px;
  left: 120px;
  gap: 44px;
  opacity: 0px;
}
.Blog-form {
  width: 431px;
  height: 50px;
  top: 247px;
  left: 960px;
  padding: 0px 0px 0px 24px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.Blog-Tab {
  margin-top: 80px;
}
.form-box {
  width: 400px;
  max-width: 100%;
  position: relative;
  padding-top: 30px;
}

.form-box input {
  font-size: 18px;
  color: #8f8f8f;
  padding: 15px 10px;
  border-radius: 50px;
  outline: none;
  background: #ffff;
  width: 100%;
  border: 1px solid #8f8f8f;
  opacity: 0px;
  height: 50px;
}

.form-box button {
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 159px;
  height: 50px;
  left: 272px;
  padding: 0px 43px 0px 44px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

/*BlogDetail Page*/
.BlogD {
  width: 1104px;
  height: 326px;
  gap: 59px;
  opacity: 0px;
  margin-top: 90px;
}
.BlogD1 span {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.BlogD1 {
  width: 588px;
  height: 283px;
  gap: 30px;
  opacity: 0px;
}
.BlogD1 h4 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  width: 550px;
  height: 52px;
  gap: 0px;
  opacity: 0px;
  color: #000000;
}
.BlogD1 p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
  width: 588px;
  height: 141px;
  gap: 0px;
  opacity: 0px;
  margin-top: 20px;
}

.BlogD2 {
  width: 457px;
  height: 326px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  margin-bottom: 40px;
}
.Blog-D {
  margin-top: 100px;
  width: 1104px;

  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #363636;
}

.Blog-D4 {
  width: 681px;
  height: 525px;
  top: 1141px;
  left: 627px;
  gap: 0px;
  opacity: 0px;
}
.Blog-D3 {
  width: 391px;
  height: 625px;
  top: 1129px;
  left: 204px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

/*Contact Page*/
.Contact-details {
  top: 117px;
  left: 208px;
  gap: 44px;
  opacity: 0px;
}
.Contact-details h4 {
  width: 168px;
  height: 11px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #ff3c00;
}
.Contact-details .line {
  width: 108px;
  margin-top: -10px;
  border: 6px 0px 0px 0px;
  opacity: 0px;
  color: #ff3c00;
}
.contact-Icon {
  width: 24px;

  gap: 0px;
  opacity: 0px;
  color: #ff3c00;
}
.Contact-p {
  width: 508px;
  height: 116px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  margin-top: 20px;
  color: #ffffff;
}

.Contact-Address {
  margin-top: 40px;
}
.Contact-Address h5 {
  width: 55px;
  height: 14px;
  top: 381px;
  left: 208px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 800;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}

.Contact-Address .p1 {
  width: 309px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
  margin-top: 40px;
}
.Contact-Address .p2 {
  width: 309px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}
.Contact-Address .p3 {
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}
.Contact-Address .p4 {
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}
.Contact-form {
  top: 103px;
  left: 809px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}
.Contact {
  padding-top: 100px;
}
.Contact-form {
  background: #fff;
  width: 503px;
  top: 103px;
  left: 809px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
}

.contact-form {
  padding-top: 20px;
  width: 427px;
  height: 70px;
  top: 55px;
  left: 38px;
  gap: 12px;
  opacity: 0px;
  margin-left: auto;
  margin-right: auto;
}
.pic-cont {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}

/*Picture Page*/
.Kontainer {
  width: 80vw;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}
.Kontainer .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.Kontainer .box img {
  max-width: 100%;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .Kontainer {
    width: calc(100% - 40px);
    columns: 3;
  }
}

@media (max-width: 768px) {
  .Kontainer {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .Kontainer {
    columns: 2;
  }
}
